@model Fixie.Models.BoardViewModel

@{
    ViewBag.Title = "Board";
}

@section Styles {
    @Styles.Render("~/Content/board")
}


        <div id="panel" class="info-panel-on">
            <div id="banner">
                <a style="position: absolute; top: 0; left: 0;" href="#menu" class="menu-trigger">Menu</a>
                <a style="position: absolute; top: 0; left: 40px;" href="#" class="detail-trigger">Simple</a>
                <h1>US Order History <span>Sprint 1</span></h1>
                <a style="position: absolute; top: 0; left: 90px;" href="#" class="menu-snap">Snap</a>

            </div>
        
            <div class="bs-docs-grid">
                <!--
                <div class="row-fluid show-grid">
                    <div class="span6">6</div>
                    <div class="span3">3</div>
                    <div class="span3">3</div>
                </div>
                -->
                <div class="row-fluid show-grid">
                    <div class="span12 card-viewport">
                        <div class="card-container">
                        
                            @foreach (var lane in Model.Board.Lanes)
                            {
                                <div id="lane-@lane.Id" class="lane">
                                    <h2 class="lane-heading">@lane.Name</h2>
                                    <div class="card-counter"><span class="count">0 CARDS</span></div>
                                    <ul class="cards sortable">
                                    
                                        @foreach (var card in lane.Cards)
                                        {
                                            <li id="card-@card.Id" class="card">
                                                <div class="card-body">
                                                    <div class="card-title"><strong class="card-id">#@card.Id</strong>Basic order list </div>
                                                    <div class="card-description">@card.Description</div>
                                                </div>
                                                <div class="card-widgets">
                                                    <div class="card-story-points">@card.Complexity.Name</div>
                                                    <div class="card-priority @card.Priority.Name.ToLower()">@card.Priority.Name</div>
                                                    <div class="card-bugs">
                                                        <img src="/Images/bug-off.png" />
                                                    </div>
                                                    <div class="card-assignees">
                                                        <a href="#"><img src="/Images/user1.png" /></a>
                                                    </div>
                                                </div>
                                                <div class="clearboth"></div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            }

                            @*<div id="lane2" class="lane">
                                <h2 class="lane-heading">In Progress</h2>
                                <div class="card-counter"><span class="count">0 CARDS</span></div>
                                <ul class="cards sortable">
                                    
                                    <li id="card-4" class="card">
                                        <div class="card-body">
                                            <div class="card-title"><strong class="card-id">#1423</strong>Card title</div>
                                            <div class="card-description">In order to see the status of my web orders<br />As a registered customer<br />I want to be able to view a basic list of my web orders ordered by most recent first</div>
                                        </div>
                                        <div class="card-widgets">
                                            <div class="card-story-points">8</div>
                                            <div class="card-priority med">MED</div>
                                            <div class="card-bugs">
                                                <img src="/Images/bug-off.png" />
                                            </div>
                                            <div class="card-assignees">
                                                <a href="#"><img src="/Images/user1.png" /></a>
                                            </div>
                                        </div>
                                        <div class="clearboth"></div>
                                    </li>
                                    <li id="card-5" class="card">
                                        <div class="card-body">
                                            <div class="card-title"><strong class="card-id">#1263</strong>Card title</div>
                                            <div class="card-description">In order to see the status of my web orders<br />As a registered customer<br />I want to be able to view a basic list of my web orders ordered by most recent first</div>
                                        </div>
                                        <div class="card-widgets">
                                            <div class="card-story-points">8</div>
                                            <div class="card-priority med">MED</div>
                                            <div class="card-bugs">
                                                <img src="/Images/bug-off.png" />
                                            </div>
                                            <div class="card-assignees">
                                                <a href="#"><img src="/Images/user1.png" /></a>
                                            </div>
                                        </div>
                                        <div class="clearboth"></div>
                                    </li>
                                </ul>
                            </div>

                            <div id="lane3" class="lane">
                                <h2 class="lane-heading">Developed</h2>
                                <div class="card-counter"><span class="count">0 CARDS</span></div>
                                <ul class="cards sortable">
                                    
                                    <li id="card-6" class="card">In order to see only current or fulfilled orders<br />As a registered customer<br />I do not want to see orders that were cancelled via the contact centre</li>
                                    <li id="card-7" class="card">In order to understand why recent orders may not be appearing in the list<br />As a registered customer<br />I want to see a link which opens a light box giving some information about this</li>
                                    <li id="card-8" class="card">In order to instantly see all information relating to my most recent order<br />As a registered customer<br />I want the first item in the list to be shown in detail view</li>
                                </ul>
                            </div>

                            <div id="lane4" class="lane">
                                <h2 class="lane-heading">Ready to Test</h2>
                                <div class="card-counter"><span class="count">0 CARDS</span></div>
                                <ul class="cards sortable">
                                    
                                    <li id="card-9" class="card">Item 1</li>
                                    <li id="card-10" class="card">Item 2</li>
                                </ul>
                            </div>

                            <div id="lane5" class="lane">
                                <h2 class="lane-heading">Ready for UAT</h2>
                                <div class="card-counter"><span class="count">0 CARDS</span></div>
                                <ul class="cards sortable">
                                    
                                    <li id="card-11" class="card">Item 1</li>
                                    <li id="card-12" class="card">Item 2</li>
                                    <li id="card-13" class="card">Item 3</li>
                                </ul>
                            </div>

                            <div id="lane6" class="lane">
                                <h2 class="lane-heading">Passed</h2>
                                <div class="card-counter"><span class="count">0 CARDS</span></div>
                                <ul class="cards sortable">
                                    
                                    <li id="card-14" class="card">Item 1</li>
                                    <li id="card-15" class="card">Item 2</li>
                                </ul>
                            </div>

                            <div id="lane7" class="lane">
                                <h2 class="lane-heading">Ready to Deploy</h2>
                                <div class="card-counter"><span class="count">0 CARDS</span></div>
                                <ul class="cards sortable">
                                    
                                    <li id="card-16" class="card">Item 1</li>
                                    <li id="card-17" class="card">Item 2</li>
                                    <li id="card-18" class="card">Item 3</li>
                                </ul>
                            </div>

                            <div id="lane8" class="lane">
                                <h2 class="lane-heading">Done</h2>
                                <div class="card-counter"><span class="count">0 CARDS</span></div>
                                <ul class="cards sortable">
                                    
                                    <li id="card-19" class="card">Item 1</li>
                                    <li id="card-20" class="card">Item 2</li>
                                </ul>
                            </div>

                            <div id="lane9" class="lane">
                                <h2 class="lane-heading">lane 9</h2>
                                <div class="card-counter"><span class="count">0 CARDS</span></div>
                                <ul class="cards sortable">
                                    
                                    <li id="card-21" class="card">Item 1</li>
                                    <li id="card-22" class="card">Item 2</li>
                                    <li id="card-23" class="card">Item 3</li>
                                    <li id="card-24" class="card">Item 4</li>
                                    <li id="card-25" class="card">Item 5</li>
                                </ul>
                            </div>*@

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <nav id="menu" class="menu">
			<ul>
				<li><a href="#">Overview</a></li>
				<li><a href="#usage">Usage</a></li>
				<li><a href="#inner-workings">Inner-Workings</a></li>
				<li><a href="#animation">Animation</a></li>
				<li><a href="#options">Options</a></li>
				<li><a href="#api">API</a></li>
				<li><a href="#tips">Tips &amp; Examples</a></li>
				<li><a href="#license">License</a></li>
				<li><a href="#about">About</a></li>
			</ul>
		</nav>
        <nav id="info-panel" class="menu" style="width: 20%; z-index: 1; display: block;">
			<ul id="activity-log" class="messages"></ul>
		</nav>




@section Scripts {
@Scripts.Render("~/bundles/board")

<script type="text/javascript">

        $(document).ready(function () {

            fixie.init();
            board.init();
            
        });

</script>

}
